page-home {

}

.masters {
  background-color: #440A25;
}

.logotipo {
  width:100%;
  text-align: center;
  align-content: center;
  align-self: center;
  background-color: #440A25;
}

.social {
  width:100%;
  text-align: center;
  align-content: center;
  align-self: center;
  flex: fill;

}

#icone {
  width: 50px;
  height: 50px;
  padding-right: 20px;
  background-color: #440A25;
}

