page-historia {

}
p {
  text-align: justify;
  font-size: 18px;
}
h2 {
  text-align: center;
  color: #FF9200;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
