<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>421216346605-8suitloem9ur2iinsciilqsbag8k5ef1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421216346605-8suitloem9ur2iinsciilqsbag8k5ef1</string>
	<key>API_KEY</key>
	<string>AIzaSyBQQtpl1k3WMaB67BAVDCybP7Y9BAmP6XM</string>
	<key>GCM_SENDER_ID</key>
	<string>421216346605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.caicocarnaval</string>
	<key>PROJECT_ID</key>
	<string>carnaval-1534535777439</string>
	<key>STORAGE_BUCKET</key>
	<string>carnaval-1534535777439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421216346605:ios:a254afc0bf078792</string>
	<key>DATABASE_URL</key>
	<string>https://carnaval-1534535777439.firebaseio.com</string>
</dict>
</plist>